nav li
{
    color:black;
    font-weight: 600;
    cursor:pointer;
}
nav li .active
{
    color:#f91944;
    font-weight: 700;
    border-bottom: 2px solid #f91944;
}
.spacing
{
    margin:35px 0px;
}